<?php
return [
    'backend' => [
        'frontName' => 'admin_chott'
    ],
    'crypt' => [
        'key' => '6714b0e39a7bde4e7a141199a6b147d0'
    ],
    'db' => [
        'table_prefix' => '',
        'connection' => [
            'default' => [
                'host' => '{HOST_NAME}',
                'dbname' => '{DB_NAME}',
                'username' => '{USER_NAME}',
                'password' => '{PASSWORD}',
                'active' => '1'
            ]
        ]
    ],
    'resource' => [
        'default_setup' => [
            'connection' => 'default'
        ]
    ],
    'x-frame-options' => 'SAMEORIGIN',
    'MAGE_MODE' => 'developer',
    'session' => [
        'save' => 'files'
    ],
    'cache' => [
        'frontend' => [
            'default' => [
                'id_prefix' => 'd81_'
            ],
            'page_cache' => [
                'id_prefix' => 'd81_'
            ]
        ]
    ],
    'lock' => [
        'provider' => 'db',
        'config' => [
            'prefix' => null
        ]
    ],
    'cache_types' => [
        'config' => 1,
        'layout' => 1,
        'block_html' => 1,
        'collections' => 1,
        'reflection' => 1,
        'db_ddl' => 1,
        'compiled_config' => 1,
        'eav' => 1,
        'customer_notification' => 1,
        'config_integration' => 1,
        'config_integration_api' => 1,
        'google_product' => 1,
        'full_page' => 1,
        'config_webservice' => 1,
        'translate' => 1,
        'vertex' => 1
    ],
    'downloadable_domains' => [
        'dev.chott'
    ],
    'install' => [
        'date' => 'Sun, 12 Jan 2020 08:01:24 +0000'
    ],
    'customer' => [
        'guest_mail_regex' => '/guest_.*?@chott\.vn/i'
    ]
];
