<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="catalog_price_comparison" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
            <class>separator-top</class>
            <tab>catalog</tab>
            <resource>Chottvn_PriceComparison::config</resource>
            <label>Price Comparison</label>
            <group id="general" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>General Configuration</label>
                <field id="url_api_price_comparison" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API URL</label>
                    <comment>url connect to API Giattvn</comment>
                </field>
                <field id="authorization_price_comparison" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Authorization</label>
                    <comment>Access token to API</comment>
                </field>
                <field id="enable_price_comparison" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Enable Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
        </group>
        </section>
    </system>
</config>