<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Chottvn_Finance::config_chottvn_finance" title="cataloginventory"/>
						</resource>
					</resource>
				</resource>
				<resource id="Chottvn_Finance::request" sortOrder="10" title="Finance Request">
					<resource id="Chottvn_Finance::request_save" sortOrder="10" title="Save Request"/>
					<resource id="Chottvn_Finance::request_delete" sortOrder="20" title="Delete Request"/>
					<resource id="Chottvn_Finance::request_update" sortOrder="30" title="Update Request"/>
					<resource id="Chottvn_Finance::request_view" sortOrder="40" title="View Request"/>
				</resource>
				<resource id="Chottvn_Finance::transactiontype" sortOrder="10" title="TransactionType">
					<resource id="Chottvn_Finance::transactiontype_save" sortOrder="10" title="Save TransactionType"/>
					<resource id="Chottvn_Finance::transactiontype_delete" sortOrder="20" title="Delete TransactionType"/>
					<resource id="Chottvn_Finance::transactiontype_update" sortOrder="30" title="Update TransactionType"/>
					<resource id="Chottvn_Finance::transactiontype_view" sortOrder="40" title="View TransactionType"/>
				</resource>
				<resource id="Chottvn_Finance::transaction" sortOrder="10" title="Transaction">
					<resource id="Chottvn_Finance::transaction_save" sortOrder="10" title="Save Transaction"/>
					<resource id="Chottvn_Finance::transaction_delete" sortOrder="20" title="Delete Transaction"/>
					<resource id="Chottvn_Finance::transaction_update" sortOrder="30" title="Update Transaction"/>
					<resource id="Chottvn_Finance::transaction_view" sortOrder="40" title="View Transaction"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
