<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\Promo\Api\Data\GiftRuleInterface" type="Amasty\Promo\Model\Rule"/>
    <preference for="Amasty\Promo\Api\Data\TotalsItemImageInterface"
                type="Amasty\Promo\Model\Quote\Totals\Item\ImageData"/>

    <type name="Magento\SalesRule\Model\Rule\Action\Discount\CalculatorFactory">
        <plugin name="Amasty_Promo::CalculatorFactory" type="Amasty\Promo\Plugin\CalculatorFactory"/>
    </type>
    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="Amasty_Promo::QuoteItem" type="Amasty\Promo\Plugin\Quote\Item"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule">
        <plugin name="Amasty_Promo::SalesRule" type="Amasty\Promo\Plugin\SalesRule"/>
    </type>
    <type name="Magento\SalesRule\Model\Rule\Metadata\ValueProvider">
        <plugin name="Amasty_Promo::SalesRule_ValueProvider" type="Amasty\Promo\Plugin\ValueProvider"/>
    </type>
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Amasty_Promo::Model_Cart_Update" type="Amasty\Promo\Plugin\Model\Cart"/>
    </type>
    <type name="Magento\GiftCard\Model\Validator\Discount">
        <plugin name="Amasty_Promo::GiftCard_Discount" type="Amasty\Promo\Plugin\Model\GiftCard\Validator\Discount"/>
    </type>
    <type name="Magento\Checkout\CustomerData\Cart">
        <plugin name="Amasty_Promo::CustomerData_Cart" type="Amasty\Promo\Plugin\Model\CustomerData\Cart"/>
    </type>

    <type name="Magento\ConfigurableProduct\Block\Product\View\Type\Configurable">
        <plugin name="Amasty_Promo::Configurable_View"
                type="Amasty\Promo\Plugin\Block\Product\Configurable"/>
    </type>
    <type name="Magento\Catalog\Block\Product\View">
        <plugin name="Amasty_Promo::Simple_View"
                type="Amasty\Promo\Plugin\Block\Product\Simple"/>
    </type>
    <type name="Magento\SalesRule\Observer\SalesOrderAfterPlaceObserver">
        <plugin name="Amasty_Promo::Fix_Coupon_Usage"
                type="Amasty\Promo\Plugin\FixCouponsUsage"/>
    </type>
    <type name="Magento\OfflineShipping\Model\SalesRule\Calculator">
        <plugin name="Amasty_Promo::Apply_Shipping" type="Amasty\Promo\Plugin\OfflineShipping\Model\SalesRule\Calculator" />
    </type>
    <type name="Magento\Tax\Model\Sales\Total\Quote\CommonTaxCollector">
        <plugin name="Amasty_Promo::Apply_Tax" type="Amasty\Promo\Plugin\Tax\Model\Sales\Total\Quote\CommonTaxCollector" />
    </type>
    <type name="Magento\Tax\Model\TaxDetails\TaxDetails">
        <plugin name="Amasty_Promo::Tax_Details" type="Amasty\Promo\Plugin\Tax\Model\TaxDetails\TaxDetails" />
    </type>
    <type name="Magento\Sales\Controller\AbstractController\Reorder">
        <plugin name="Amasty_Promo::Reorder" type="Amasty\Promo\Plugin\Reorder\Reorder" />
    </type>
    <type name="Magento\Sales\Model\Order">
        <plugin name="Amasty_Promo::Reorder_Items_Cleaner" type="Amasty\Promo\Plugin\Reorder\ReorderItemsCleaner" />
    </type>
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="Amasty_Promo::make-css" type="Amasty\Promo\Plugin\View\Page\Config\Renderer" />
    </type>
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="Magento\SalesRule\Api\Data\RuleInterface" xsi:type="array">
                    <item name="create" xsi:type="array">
                        <item name="create_ampromo_rule" xsi:type="string">Amasty\Promo\Model\SalesRule\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="update_ampromo_rule" xsi:type="string">Amasty\Promo\Model\SalesRule\SaveHandler</item>
                    </item>
                    <item name="read" xsi:type="array">
                        <item name="read_ampromo_rule" xsi:type="string">Amasty\Promo\Model\SalesRule\ReadHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\Rule\DataProvider">
        <plugin name="AmastyPromo::DataProvider" type="Amasty\Promo\Plugin\SalesRule\Model\DataProviderPlugin"/>
    </type>
    <!--fixes of Magneto EE bugs.-->
    <!--Name of plugins are the same as in other modules because we need only one fix,-->
    <!--so plugins with the same name will override each other-->
    <type name="Magento\SalesRule\Model\Converter\ToDataModel">
        <plugin sortOrder="10" name="Amasty_Rules::ee21_compatibility" type="Amasty\Promo\Plugin\SalesRule\Model\ToDataModelPlugin"/>
    </type>
    <type name="Magento\SalesRuleStaging\Model\Rule\Hydrator">
        <plugin sortOrder="10" name="Amasty_Rules::ee21_compatibility" type="Amasty\Promo\Plugin\SalesRuleStaging\Model\Rule\HydratorPlugin"/>
    </type>
    <type name="Magento\CheckoutStaging\Model\ResourceModel\PreviewQuota">
        <plugin name="AmastyRules::PreviewQuotaFix" type="Amasty\Promo\Plugin\CheckoutStaging\Model\ResourceModel\PreviewQuotaPlugin"/>
    </type>
    <!--finish magneto ee bug fixes-->
</config>
