<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_Promo
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_place_after">
        <observer name="amasty_promo_order_place_after" instance="Amasty\Promo\Observer\OrderPlaceAfterObserver" />
    </event>
    <event name="salesrule_validator_process">
        <observer name="amasty_promo_salesrule_validator_process" instance="Amasty\Promo\Observer\Salesrule\Discount" />
    </event>
</config>
