<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_CrossLinks
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_cross_links>
            <general>
                <label>General</label>
                <enabled>0</enabled>
                <product_replacement_limit>0</product_replacement_limit>
                <category_replacement_limit>0</category_replacement_limit>
                <cms_page_replacement_limit>0</cms_page_replacement_limit>
            </general>
            <blog>
                <replacement_limit>0</replacement_limit>
            </blog>
            <advanced>
                <regexpr><![CDATA[[A-Za-z0-9]+]]></regexpr>
            </advanced>
        </amasty_cross_links>
    </default>
</config>
