<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_AdminActionsLog
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="history" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\AdminActionsLog\Ui\DataProvider\Product\Form\Modifier\History</item>
                    <item name="sortOrder" xsi:type="number">20</item>
                </item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Amasty\AdminActionsLog\Ui\DataProvider\Listing\ActionsDataProvider">
        <arguments>
            <argument name="addFilterStrategies" xsi:type="array">
                <item name="fullname" xsi:type="object">Amasty\AdminActionsLog\Ui\Component\Listing\Filter\AddFullnameFilterToCollection</item>
                <item name="username" xsi:type="object">Amasty\AdminActionsLog\Ui\Component\Listing\Filter\AddUsernameFilterToCollection</item>
            </argument>
        </arguments>
    </type>

</config>
