<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!-- ko if: showProduct -->
<li class="item product product-item" data-role="product-item">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name_long}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} -->
            <!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->
        <div class="product-item-details">
            <span class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url}, html: product_name_long"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <div data-bind="html: product_name_long"> </div>
                <!-- /ko -->
                <!-- /ko -->
            </span>

            <!-- ko if: options.length -->
            <div class="product options">
                <div data-role="content" class="content">
                    <strong class="subtitle">
                        <!-- ko i18n: 'Options Details' -->
                        <!-- /ko --></strong>
                    <div class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <span class="span-options-right">
                            <!-- ko text: option.label -->
                            <!-- /ko -->:
                            <span data-bind="text: option.value"></span>
                        </span>
                        <!-- /ko -->
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <div class="details-qty qty">
                <!-- <label class="label" data-bind="i18n: 'Qty', attr: {for: 'cart-item-'+item_id+'-qty'}"></label> -->
                <!-- Phuoc add at 20200727 for only show plus qty buttons if not a promote item -->
                <!-- ko ifnot: isPromoItem -->
                <button class="quantity-controls quantity-minus change-qty" data-bind="click: function(item_id) {
                    document.querySelector('#cart-item-'+item_id.item_id+'-qty').stepDown();
                },attr: {
                    'data-cart-item': item_id,
                    'disabled': qty <= 1 ? true : false
                    }"><span>-</span></button>
                <input data-bind="
                        attr: {
                            id: 'cart-item-'+item_id+'-qty',
                            'data-cart-item': item_id,
                            'data-item-qty': qty,
                            'data-cart-item-id': product_sku,
                            'defaultStock': defaultStock,
                            'product-id': product_id
                        },
                        value: qty" type="number" size="4" class="item-qty cart-item-qty" min=1>
                <button class="quantity-controls quantity-plus change-qty" data-bind="click: function(item_id) {
                    document.querySelector('#cart-item-'+item_id.item_id+'-qty').stepUp();
                },attr: {
                    'data-cart-item': item_id
                    }"><span>+</span></button>
                <div class="delete">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}" class="action delete">
                        <span data-bind="i18n: 'Delete'"></span>
                    </a>
                </div>
                <!-- /ko -->
                <!-- ko if: isPromoItem -->
                <span data-bind="text: qty" class="cart-item-qty"></span>
                <!-- /ko -->
            </div>

            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp -->

                <div class="details-map">
                    <span class="label" data-bind="i18n: 'Price'"></span>
                    <span class="value" data-bind="i18n: 'See price before order confirmation.'"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                <!-- ko template: {name: getTemplate(), data: item.product_price_new, as: 'price'} -->
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>

            <div class="product actions">
                <!-- ko if: is_visible_in_site_visibility -->
                <div class="primary">
                    <a data-bind="attr: {href: configure_url, title: $t('Edit item')}" class="action edit">
                        <span data-bind="i18n: 'Edit'"></span>
                    </a>
                </div>
                <button data-bind="attr: {
                       id: 'update-cart-item-'+item_id,
                       'data-cart-item': item_id,
                       title: $t('Update')
                       }" class="update-cart-item" style="display: none">
                    <span data-bind="i18n: 'Update'"></span>
                </button>
                <!-- /ko -->
                <!-- <div class="secondary">
                    <a href="#" data-bind="attr: {'data-cart-item': item_id, title: $t('Remove item')}"
                       class="action delete">
                        <span data-bind="i18n: 'Remove'"></span>
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</li>
<!-- /ko -->