<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Chottvn\CustomCatalogSearch\Controller\Index\Index">
        <plugin name="Chottvn_CustomCatalogSearch_Result" type="Chottvn\CustomCatalogSearch\Plugin\Result"></plugin>
    </type>

    <preference for="Magento\Catalog\Model\Layer\Category\FilterableAttributeList" type="Chottvn\CustomCatalogSearch\Model\Layer\FilterableAttributeList" />

    <preference for="Magento\CatalogSearch\Model\Layer\Filter\Category" type="Chottvn\CustomCatalogSearch\Model\Layer\Filter\Category" />
    <preference for="Magento\CatalogSearch\Model\Indexer\IndexerHandler" type="Chottvn\CustomCatalogSearch\Model\Indexer\IndexerHandler" />
</config>