<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_SeoRichData
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amseorichdata" translate="label" type="text" sortOrder="190518" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO Rich Data</label>
            <tab>amasty</tab>
            <resource>Amasty_SeoRichData::config</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\SeoRichData\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="breadcrumbs" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Breadcrumbs</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[See more details <a target='_blank' href='https://developers.google.com/structured-data/breadcrumbs'>here</a>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="extend" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Fixed Category Path</label>
                    <comment><![CDATA[At the Product Page use the most specific category path if no category info is available]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="type" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Type</label>
                    <comment><![CDATA[This setting modifies the Breadcrumbs Type for the Search Engine only. It does not modify the Breadcrumbs on the store frontend. Choose 'Short' to make "Store > Subcategory 2 > Product" instead of "Store > Category > Subcategory 1 > Subcategory 2 > Product"]]></comment>
                    <source_model>Amasty\SeoRichData\Model\Source\Breadcrumbs</source_model>
                </field>
            </group>
            <group id="website" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Include Your Site Name in Search Results</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[See more details <a target='_blank' href='https://developers.google.com/structured-data/site-name'>here</a>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Website Name</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="organization" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Organization</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[See more details <a target='_blank' href='https://developers.google.com/structured-data/customize/contact-points'>here</a>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="name" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Organization Name</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="logo_url" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo Url</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="description" translate="label comment" type="textarea" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <comment>Enter the URL with the description to include in rich snippets</comment>
                    <backend_model>Amasty\SeoRichData\Model\Backend\Organization\Description</backend_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="description_length" translate="label comment" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description Length</label>
                    <comment>Specify the number of characters which will be displayed in the description.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <validate>validate-number</validate>
                </field>
                <field id="country" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Country</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="region" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Region/State</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="postal_code" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>ZIP/Postal Code</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="city" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>City</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="sales" translate="label comment" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sales</label>
                    <comment>An internationalized version of the phone number, starting with the "+" symbol and country code (+1 in the US and Canada). Examples: "+1-800-555-1212", "+44-2078225951"</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="technical_support" translate="label comment" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Technical Support</label>
                    <comment>An internationalized version of the phone number</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="customer_service" translate="label comment" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Service</label>
                    <comment>An internationalized version of the phone number</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="social" translate="label" type="select" sortOrder="35" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Social Profiles</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[Please enable the 'Organization' to get the 'Social Profiles' working. Read more details <a target='_blank' href='https://developers.google.com/search/docs/data-types/social-profile'>here</a>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="facebook" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Facebook</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="twitter" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Twitter</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="google" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google+</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="instagram" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Instagram</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="youtube" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>YouTube</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="linkedin" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>LinkedIn</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="myspace" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Myspace</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="pinterest" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Pinterest</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="soundcloud" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>SoundCloud</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
                <field id="tumblr" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tumblr</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="search" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Search Box</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <comment><![CDATA[Display search input box for home page in Google search results. See more details <a target='_blank' href='https://developers.google.com/structured-data/slsb-overview'>here</a>]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="category" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Enabled on Category Pages</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Add schema markup for each product on the category page. See the details <a target='_blank' href='https://developers.google.com/search/docs/guides/sd-policies#multiple-elements'>here</a>.]]></comment>
                </field>
            </group>
            <group id="product" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Product Rich Data</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[See more details <a target='_blank' href='https://developers.google.com/search/docs/data-types/products'>here</a>]]></comment>
                </field>
                <field id="availability" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Availability</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="condition" translate="label" type="select" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Condition</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="configurable" translate="label" type="select" sortOrder="26" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Configurable Products as</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Amasty\SeoRichData\Model\Source\Product\Offer</source_model>
                </field>
                <field id="grouped" translate="label" type="select" sortOrder="27" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Grouped Products as</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Amasty\SeoRichData\Model\Source\Product\Offer</source_model>
                </field>
                <field id="description" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Amasty\SeoRichData\Model\Source\Product\Description</source_model>
                </field>
                <field id="rating" translate="label comment" type="select" sortOrder="33" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Rating</label>
                    <comment>Adds product rating and review to rich data.</comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="brand" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Brand</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Amasty\SeoRichData\Model\Source\Attributes</source_model>
                </field>
                <field id="manufacturer" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Manufacturer</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Amasty\SeoRichData\Model\Source\Attributes</source_model>
                </field>
                <field id="custom_properties" translate="label comment" type="textarea" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Custom Properties</label>
                    <comment><![CDATA[Please click <a target='_blank' href='https://amasty.com/docs/doku.php?id=magento_2:rich_snippets&utm_source=extension&utm_medium=backend&utm_campaign=userguide_RichSnippet#product_rich_data'>here</a> to find out how to configure the current setting.]]></comment>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
