<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Chottvn\Rma\Model\ResourceModel\Rule\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">chottvn_rma_rule</argument>
            <argument name="resourceModel" xsi:type="string">Chottvn\Rma\Model\ResourceModel\Rule</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="chottvn_rma_rule_list_data_source" xsi:type="string">Chottvn\Rma\Model\ResourceModel\Rule\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
