<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_SeoToolKit
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_SeoToolKit::seotoolkit"
             title="SEO ToolKit"
             module="Amasty_SeoToolKit"
             sortOrder="10"
             parent="Magento_Backend::content"
             resource="Amasty_SeoToolKit::seotoolkit"/>

        <add id="Amasty_SeoToolKit::config"
             title="Settings"
             module="Amasty_SeoToolKit"
             sortOrder="10"
             parent="Amasty_SeoToolKit::seotoolkit"
             action="adminhtml/system_config/edit/section/amseotoolkit"
             resource="Amasty_SeoToolKit::config"/>

        <add id="Amasty_SeoToolKit::seo"
             title="Amasty SEO Toolkit "
             module="Amasty_SeoToolKit"
             parent="Magento_Backend::marketing"
             sortOrder="40"
             resource="Amasty_SeoToolKit::seo"/>

        <add id="Amasty_SeoToolKit::redirects"
             title="Manage Redirects"
             module="Amasty_SeoToolKit"
             sortOrder="10"
             parent="Amasty_SeoToolKit::seo"
             action="amasty_seotoolkit/redirect/index"
             resource="Amasty_SeoToolKit::redirects"/>
    </menu>
</config>
