<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_SeoHtmlSitemap
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amseohtmlsitemap" translate="label" type="text" sortOrder="190510" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>SEO HTML Sitemap</label>
            <tab>amasty</tab>
            <resource>Amasty_SeoHtmlSitemap::amseohtmlsitemap</resource>
            <group id="amasty_information" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Information</label>
                <frontend_model>Amasty\SeoHtmlSitemap\Block\Adminhtml\System\Config\Information</frontend_model>
            </group>
            <group id="general" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="title" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="meta_description" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Meta Description</label>
                </field>
                <field id="layout" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Layout</label>
                    <source_model>Magento\Cms\Model\Page\Source\PageLayout</source_model>
                </field>
                <field id="show_search_field" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Search Field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sort_order" translate="label comment tooltip" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort the Sitemap Content Order</label>
                    <frontend_model>Amasty\SeoHtmlSitemap\Block\Adminhtml\Form\Field\Position</frontend_model>
                    <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                </field>
            </group>
            <group id="cms" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>CMS Pages</label>
                <field id="show_cms_pages" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include CMS Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cms_title" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub Header</label>
                    <depends>
                        <field id="show_cms_pages">1</field>
                    </depends>
                </field>
                <field id="column_number" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Columns</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\NumberRange</source_model>
                    <depends>
                        <field id="show_cms_pages">1</field>
                    </depends>
                </field>
                <field id="exclude_cms_pages_values" translate="label comment" type="multiselect" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude CMS Pages</label>
                    <source_model>Magento\Cms\Model\Config\Source\Page</source_model>
                    <can_be_empty>1</can_be_empty>
                    <depends>
                        <field id="show_cms_pages">1</field>
                    </depends>
                </field>
            </group>
            <group id="categories" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Categories</label>
                <field id="show_categories" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Categories</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="categories_title" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub Header</label>
                    <depends>
                        <field id="show_categories">1</field>
                    </depends>
                </field>
                <field id="exclude" translate="label comment" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Category Ids</label>
                    <comment>Specify comma separated category id’s are not showing in Sitemap.</comment>
                    <depends>
                        <field id="show_categories">1</field>
                    </depends>
                </field>
                <field id="show_as" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show As</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\GridType</source_model>
                    <depends>
                        <field id="show_categories">1</field>
                    </depends>
                </field>
                <field id="column_number" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Columns</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\NumberRange</source_model>
                    <depends>
                        <field id="show_categories">1</field>
                    </depends>
                </field>
            </group>
            <group id="products" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Products</label>
                <field id="show_products" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Include Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="products_title" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub Header</label>
                    <depends>
                        <field id="show_products">1</field>
                    </depends>
                </field>
                <field id="column_number" translate="label comment" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Columns</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\NumberRange</source_model>
                    <depends>
                        <field id="show_products">1</field>
                    </depends>
                </field>
                <field id="split_by_letter" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Split By First Letter</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_products">1</field>
                    </depends>
                </field>
                <field id="hide_out_of_stock" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Hide Out Of Stock Products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_products">1</field>
                    </depends>
                </field>
                <field id="maximum_limit" translate="label comment" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum Products Displayed on Sitemap</label>
                    <validate>validate-not-negative-number</validate>
                    <comment>Maximum Products to be shown on Sitemap. The limit number you can fill in is 50000</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="show_products">1</field>
                    </depends>
                </field>
            </group>
            <group id="landing" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Landing Pages</label>
                <field id="show_landing_pages" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Show Amasty Landing Pages</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <if_module_enabled>Amasty_Xlanding</if_module_enabled>
                </field>
                <field id="landing_title" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub Header</label>
                    <depends>
                        <field id="show_landing_pages">1</field>
                    </depends>
                    <if_module_enabled>Amasty_Xlanding</if_module_enabled>
                </field>
                <field id="column_number" translate="label comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Columns</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\NumberRange</source_model>
                    <if_module_enabled>Amasty_Xlanding</if_module_enabled>
                    <depends>
                        <field id="show_landing_pages">1</field>
                    </depends>
                </field>
            </group>
            <group id="additional" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Additional Links</label>
                <field id="links_title" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sub Header</label>
                </field>
                <field id="column_number" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Number of Columns</label>
                    <source_model>Amasty\SeoHtmlSitemap\Model\Config\Source\NumberRange</source_model>
                </field>
                <field id="additional_links" translate="label comment" type="textarea" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Additional Links</label>
                    <comment><![CDATA[Example: <br />Link text, link URL <br /> Link text, link URL <br /> ...]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
