<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="chottvn_pricequote" id="chottvn_pricequote">
			<module before="Magento_Backend" name="Chottvn_PriceQuote"/>
		</route>
	</router>
</config>
