<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Amasty\XmlSitemap\Block\Adminhtml\Sitemap\Edit\Tab\Blog" type="Chottvn\Sitemap\Block\Adminhtml\Sitemap\Edit\Tab\Blog" />
	<preference for="Amasty\XmlSitemap\Model\Sitemap" type="Chottvn\Sitemap\Model\XmlSitemap\Sitemap" />
</config>