<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_SeoSingleUrl
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_catalog">
        <observer name="Amasty_SeoSingleUrl::save_catalog"
                  instance="Amasty\SeoSingleUrl\Observer\System\ConfigChanged"/>
    </event>

    <event name="admin_system_config_changed_section_amasty_seourl">
        <observer name="Amasty_SeoSingleUrl::save_amasty_seourl"
                  instance="Amasty\SeoSingleUrl\Observer\System\ConfigChanged"/>
    </event>
</config>
