<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="chottvn_sales_configuration" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <tab>sales</tab>
            <resource>Chottvn_Sales::config</resource>
            <label>Chottvn Sales Configuration</label>
            <group id="chottvn_sales" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Finish Order Schedule</label>
                <field id="finish_order_cron" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cron schedule</label>
                    <comment>Format: * * * * *</comment>
                </field>
                <field id="data_config" translate="label" type="textarea" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Data Config</label>
                </field>
                
            </group>
        </section>
    </system>
</config>