<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- <tab id="chottvn_notification" translate="label" sortOrder="10">
            <label>Chottvn Notification</label>
        </tab>
        <section id="configuration" showInDefault="3">
            <tab>chottvn_notification</tab>
            <label>Configuration</label>
            <resource>Chottvn_Notification::config</resource>
                <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General Configuration</label>
                <field id="enabled" translate="label" type="select" sortOrder="0" showInDefault="2" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="subscription_request_title" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Subscription Request Title</label>
                </field>
                <field id="default_message_image" translate="label" type="file" sortOrder="2" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Default Message Image</label>
                </field>
            </group>
        </section> -->
    </system>
</config>
