<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Orderattr
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Block\Order\Info">
        <plugin name="Amasty_Orderattr::OrderViewAttributesList" type="Amasty\Orderattr\Block\Order\Plugin\OrderView" />
    </type>
    <type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="orderAttributes" xsi:type="object">Amasty\Orderattr\Block\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Customer\Block\SectionConfig">
        <arguments>
            <argument name="clientSideSections" xsi:type="array">
                <item name="amasty-checkout-data" xsi:type="string">amasty-checkout-data</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="amasty_order_attribute_config_provider" xsi:type="object">Amasty\Orderattr\Model\Checkout\CheckoutConfigProvider</item>
            </argument>
        </arguments>
    </type>
</config>
