<!--@subject {{trans "Bổ sung CMND cho hồ sơ tài khoản CTV tại %store_name" store_name=$store.getFrontendName()}}  @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Chào %full_name," full_name=$fullName}}</p>
<p>{{trans "Cảm ơn bạn đã đăng ký tham gia chương trình Cộng tác viên Tư vấn bán hàng tại <a href='%home_url'>chotructuyen.co</a>" home_url=$homeLink |raw"}}</p>
<p>{{trans "Bạn vui lòng gửi chứng minh nhân dân hoặc thẻ căn cước công dân (scan hoặc chụp hình bản chính) cho chúng tôi qua email <a href='mailto:lienhe@chotructuyen.co'>ctv@chotructuyen.co</a> để chúng tôi có đầy đủ thông tin xét duyệt hồ sơ." |raw}}</p>
<p>{{trans "Trong vòng <strong>24h</strong>, nếu chúng tôi không nhận được hồ sơ như yêu cầu ở trên thì đồng nghĩa với việc bạn từ chối việc đăng ký tham gia chương trình CTV tại <a href='%home_url'>chotructuyen.co</a>" home_url=$homeLink |raw}}</p>
<br />
<p>{{trans "Mọi thắc mắc về tài khoản cộng tác viên, vui lòng liên hệ với Phòng Nhân sự, Cty CP Chợ Trực Tuyến qua email: <a href='mailto:lienhe@chotructuyen.co'>ctv@chotructuyen.co</a>" |raw}}</p>
<br />
<p>{{trans "Trân trọng!"}}</p>
<p>{{trans "Cty CP Chợ Trực Tuyến"}}</p>

{{template config_path="design/email/footer_template"}}