<!-- ko fastForEach: getRegion('authentication') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko fastForEach: getRegion('estimation') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<!-- ko fastForEach: getRegion('messages') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->

<div class="amcheckout-main-container -modern -layout-1column"
     data-bind="css: $data.additionalClasses"
     data-amcheckout-js="main-container">
    <!-- ko if: getSortedBlock(0) -->
    <div class="amcheckout-block amcheckout-step-container"
         data-amcheckout-js="step-container">
        <!-- ko with: getChild('steps').getChild('shipping-step').getChild('step-config') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->

        <!-- ko with: getSortedBlock(0) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--/ko-->
    <!-- ko if: getSortedBlock(1) -->
    <div class="amcheckout-block amcheckout-step-container"
         data-amcheckout-js="step-container">
        <!-- ko with: getSortedBlock(1) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--/ko-->
    <!-- ko if: getSortedBlock(2) -->
    <div class="amcheckout-block amcheckout-step-container"
         data-amcheckout-js="step-container">
        <!-- ko with: getSortedBlock(2) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--/ko-->
    <!-- ko if: getSortedBlock(3) -->
    <div class="amcheckout-block amcheckout-step-container"
         data-amcheckout-js="step-container">
        <!-- ko with: getSortedBlock(3) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--/ko-->
    <!-- ko if: getSortedBlock(4) -->
    <div class="amcheckout-block amcheckout-step-container"
         data-amcheckout-js="step-container">
        <!-- ko with: getSortedBlock(4) -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </div>
    <!--/ko-->
</div>
