<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_CrossLinks
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Cms\Block\Page">
        <plugin name="crossLinksCmsReplaceContent" type="Amasty\CrossLinks\Plugin\Cms\Block\Page"/>
    </type>

    <!-- Start Amasty Faq section -->
    <type name="Amasty\Faq\Block\View\Question">
        <plugin name="Amasty_CrossLink::faq_compatibility_question" type="Amasty\CrossLinks\Plugin\Faq"/>
    </type>
    <type name="Amasty\Faq\Block\View\Category">
        <plugin name="Amasty_CrossLink::faq_compatibility_category" type="Amasty\CrossLinks\Plugin\Faq"/>
    </type>
    <!-- End Amasty Faq section -->

    <!--    Start Amasty Blog section-->
    <type name="Amasty\Blog\Model\Posts">
        <plugin name="Amasty_CrossLinks::blog_compatibility_post" type="Amasty\CrossLinks\Plugin\Blog\Model\PostsPlugin"/>
    </type>
    <!--    End Amasty Blog section-->
</config>
