<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_CrossLinks
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="catalog_controller_category_init_after">
        <observer name="amasty_crosslinks_catalogattribute_handler" instance="Amasty\CrossLinks\Observer\AddHandler"/>
    </event>
    <event name="catalog_controller_product_init_after">
        <observer name="amasty_crosslinks_catalogattribute_handler" instance="Amasty\CrossLinks\Observer\AddHandler"/>
    </event>
</config>
