<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_RulesLoyalty
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="amrulesloyalty" translate="label" type="text" sortOrder="191616" showInDefault="1" showInWebsite="1" showInStore="1">
            <resource>Amasty_RulesLoyalty::config_rules</resource>
            <class>separator-top</class>
            <label>Loyalty Program</label>
            <tab>amasty</tab>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="descr_header" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description Header</label>
                </field>
                <field id="description" translate="label comment" type="editor" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                    <frontend_model>Amasty\RulesLoyalty\Block\Adminhtml\System\Config\Editor</frontend_model>
                </field>
                <field id="stats_header" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Stats Header</label>
                </field>
            </group>
        </section>
    </system>
</config>
